node_modules
.env
.terraform.lock.hcl
terraform.tfstate.backup
.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.84.0/windows_386/terraform-provider-azurerm_v3.84.0_x5.exe
terraform.tfstate
